input#search {
  font-size: 15px;
  width: 50%;
  height: 100%;
  color: #D7F75B;
  font-family: 'Ubuntu', sans-serif;
}

#searchIcon{
  font-size: 25px;
  padding: 15px 10px;
  color: #D7F75B;
}

#searchForm{
  padding: 0 10px;
  color: #472C1B;
}

#searchCard{
  width: 100%;
  background-color: #D19C1D;
  color: #472C1B;
}

#submit {
  position: relative;
  color: #D7F75B;
  background-color: #472C1B;
}
#clear{
  color: #D7F75B;
  background-color: #472C1B;
}

#listings {
  min-height: 480px;
}

.petPic {
  width: 250px;
  height: 250px;
  float: right;
}
#advSearch label {
  color: #472C1B;
}
#zip2{
  color: #472C1B;
}
