#search {
  color: #fff;
  font-size: 15px;
  width: 50%;
  height: 100%;
}

#searchIcon{
  font-size: 25px;
  padding: 15px 10px;
  color: #fff;
}
#searchForm{
  padding: 0 10px;
}

#searchCard{
  width: 100%;
}
#submit {
  position: relative;
}

#listings {
  min-height: 480px;
}

.petPic {
  width: 350px;
  height: 350px;
}
